<!-- password_reset_form.html -->

{% block content %}
  <style>
    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 5px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .form {
      text-align: left;
    }

    .form-label {
      font-weight: bold;
    }

    .form-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .form-submit {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>

  <div class="container">
    <h2 class="title">Password Reset</h2>
    <form class="form" method="post">
      {% csrf_token %}
      <label class="form-label" for="id_email">Email:</label>
      <input class="form-input" type="email" id="id_email" name="email" required>
      <input class="form-submit" type="submit" value="Reset Password">
    </form>
  </div>
{% endblock %}
